<div class="">
	<h1>New persona</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/persona/create" method="post">
				<div class="">
					<label for="">createdAt</label>
					<input type="number" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="number" name="updatedAt" value="" required="false">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="true">
				</div>
				<div class="">
					<label for="">identificacion</label>
					<input type="text" name="identificacion" value="" required="false">
				</div>
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">img</label>
					<input type="text" name="img" value="" required="false">
				</div>
				<div class="">
					<label for="">paterno</label>
					<input type="text" name="paterno" value="" required="false">
				</div>
				<div class="">
					<label for="">materno</label>
					<input type="text" name="materno" value="" required="false">
				</div>
				<div class="">
					<label for="">telefono</label>
					<input type="number" name="telefono" value="" required="false">
				</div>
				<div class="">
					<label for="">celular</label>
					<input type="number" name="celular" value="" required="false">
				</div>
				<div class="">
					<label for="">cedula</label>
					<input type="text" name="cedula" value="" required="false">
				</div>
				<div class="">
					<label for="">expedido</label>
					<input type="text" name="expedido" value="" required="false">
				</div>
				<div class="">
					<label for="">fechaNacimiento</label>
					<input type="text" name="fechaNacimiento" value="" required="false">
				</div>
				<div class="">
					<label for="">sexo</label>
					<input type="text" name="sexo" value="" required="false">
				</div>
				<div class="">
					<label for="">rol</label>
					<input type="text" name="rol" value="" required="false">
				</div>
			<button type="submit">Save persona</button>
		</form>
		<br />
		<a href="/persona">Index</a>
	</div>
</div>
