<div class="container">
	<br>
	<h4 class="text-center">Registrar Medico</h4>
	<h5 class="text-center">Llenar los datos con *</h5>

	<form method="POST" action="/persona/crear">
		<input type="text" name="rol" value="medico" hidden>
		<div class="form-group row">
			<label  class="col-sm-2 col-form-label col-form-label-sm">Apellido Paterno</label>
			<div class="col-sm-6">
			<input type="text" name='paterno' class="form-control form-control-sm"  placeholder="paterno">
			</div>
		</div>
		<div class="form-group row">
				<label  class="col-sm-2 col-form-label col-form-label-sm">Apellido Materno</label>
				<div class="col-sm-6">
				<input type="text" name="materno" class="form-control form-control-sm"  placeholder="materno">
				</div>
		</div>
		<div class="form-group row">
				<label  class="col-sm-2 col-form-label col-form-label-sm">Nombres</label>
				<div class="col-sm-6">
				<input type="text" name="nombre" class="form-control form-control-sm"  placeholder="nombres">
				</div>
		</div>
		<div class="form-group row">
				<label  class="col-sm-2 col-form-label col-form-label-sm">Cedula</label>
				<div class="col-sm-6">
				<input type="text" name="cedula" class="form-control form-control-sm"  placeholder="ci">
				</div>
		</div>
		<div class="form-group row">
				<label  class="col-sm-2 col-form-label col-form-label-sm">Licencia Medica</label>
				<div class="col-sm-6">
				<input type="text" name="licencia" class="form-control form-control-sm"  placeholder="# licencia">
				</div>
		</div>
		<div class="form-group row">
				<label  class="col-sm-2 col-form-label col-form-label-sm">Fecha Nacimiento</label>
				<div class="col-sm-6">
				<input type="date" name="fechaNacimiento" class="form-control form-control-sm"  placeholder="">
				</div>
		</div>

		<button type="submit" class="btn btn-raised btn-primary">ENVIAR</button>

	</form>
</div>
