<div class="">
	<h1>New Pet</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/Pet" method="post">
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">owner</label>
					<input type="text" name="owner" value="" required="false">
				</div>
			<button type="submit">Save Pet</button>
		</form>
		<br />
		<a href="/Pet">Index</a>
	</div>
</div>
