<h1>Show Pet</h1>

	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>owner:</strong>
		<%= element.owner %>
	</p>

<br>
<a href="/Pet/edit/<%= element.id %>">Edit</a>
<a href="/Pet/create">New</a>
<a href="/Pet">Back</a>
